@model OnlineFoodOrdering.Models.Category
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="myaccount-content">
    <h3>@localizer["New Category"]</h3>
    <br />
    <div class="account-details-form">
        <form method="post">
            <div class="row">

                <br />
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Name"]</label>
                    <input asp-for="Name" />
                </div>
            </div>
            <br />

            <div class="single-input-item single-item-button">
                <button type="submit" asp-route-category="@Model" class="btn obrien-button primary-btn">@localizer["Create New"]</button>
            </div>

        </form>
    </div>
</div>
