.create-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 53px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 1px;
    border: none;
}
.back-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 53px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #6f6f6f;
    letter-spacing: 1px;
}

.backgroundWhite {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

