@model int

<div class="col-6">
    <input type="submit" class="delete-btn" asp-route-id="@Model" value="&nbsp&nbsp;Delete&nbsp&nbsp;" />
</div>
<div class="col-6">
    <a asp-action="Index" class="back-btn">Back to List</a>
</div>