@model int

<div class="col-6">
    <a asp-action="Edit" class="edit-btn" asp-route-id="@Model" >&nbsp;&nbsp;Update&nbsp;&nbsp;</a>
</div>
<div class="col-6">
    <a asp-action="Index" class="back-btn">Back to List</a>
</div>