@model int

    <div class="row">
        <div class="col-6">
            <input type="submit" class="edit-btn" asp-route-id="@Model" value="&nbsp&nbsp;Update&nbsp&nbsp;" />
        </div>
        <div class="col-6">
            <a asp-action="Index" class="back-btn">Back to List</a>
        </div>
    </div>
