@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions

@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name) }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
    <div style="margin-top:35px; margin-right:30px;" >
        <form  asp-action="CultureManagement" asp-controller="Home" method="post" asp-area="Customer" asp-route-returnUrl="@returnUrl">
            <select style="border:none;" class="sidemenu-wrap d-none d-lg-flex" name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList"
                    onchange="this.form.submit();"></select>
        </form>
    </div>
